<style>
  .shopify-test-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .shopify-test-grid-wrapper img {
    max-width: 100%;
    height: auto;
  }

  .shopify-test-grid-wrapper .second-col {
    background-image: url("{{ section.settings.imgBgSecondCol | img_url: 'master' }}");
    background-size: cover;
    background-position: center center;
    padding: 25rem 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .shopify-test-grid-wrapper .second-col h2 {
    font-family: 'Inter';
    font-size: 35px;
    margin: 0 0 0rem;
    color: white;
    text-transform: uppercase;
  }

  .shopify-test-grid-wrapper .second-col .description-test {
    font-family: 'Inter';
    font-size: 18px;
    margin: 0 0 2rem;
    color: white;
  }

  .shopify-test-grid-wrapper .second-col .description-test p {
    margin: 0;
    color: white;
  }

  .btn-book-test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 300px;
    text-decoration: none;
    background-color: #ff4579;
  }

  .btn-book-test h6 {
    font-family: 'Inter';
    font-size: 22px;
    font-weight: semibold;
    margin: 0;
    color: white;
  }
</style>

<div class="shopify-test-grid-wrapper">
  <img src="{{ section.settings.imageFirstColTest | img_url: 'master' }}" />
  <div class="second-col">
    <h2>{{ section.settings.headTitle }}</h2>
    <p class="description-test">{{ section.settings.description }}</p>
    <a href="{{ section.settings.urlTest }}" class="btn-book-test">
      <h6>{{ section.settings.btnLabel }}</h6>
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "Shopify Test",
    "settings": [
      {
        "type": "header",
        "content": "First Column Image"
      },
      {
        "type": "image_picker",
        "id": "imageFirstColTest",
        "label": "Image first column"
      },
      {
        "type": "header",
        "content": "Second Column"
      },
      {
        "type": "image_picker",
        "id": "imgBgSecondCol",
        "label": "Background Image of second column"
      },
      {
        "type": "textarea",
        "id": "headTitle",
        "label": "Title",
        "default": "Heading Title"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Your description",
        "default": "<p>Your description</p>"
      },
      {
        "type": "url",
        "id": "urltest",
        "label": "Your URL"
      },
      {
        "type": "text",
        "id": "btnLabel",
        "label": "Button label",
        "default": "BOOK A TEST RIDE"
      }
    ],
    "presets": [
      {
        "name": "Shopify Test"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}